body {
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#calculator {
    background-color: rgba(255,255,255,0.7);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
    width: 120%;
    background-image: url('image-1.jpg'); /*background image */
    background-size: cover; /* make sure the image covers the whole div */
    background-position: center; /* Centering the image */
    background-repeat: no-repeat; /*not repeat the image */
    position: relative; /* text is above the background image */
}
#calculator::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7); /* Same color as the background */
    z-index: 1; /* Place it above the background image */
    border-radius: 8px;
}

#calculator > * {
    position: relative; /*all content is above the overlay */
    z-index: 2;
}


h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: left;
}

input,
select,
button {
    font-size: 16px;
    margin: 5px 0;
    padding: 5px;
    border-radius: 12px;
    border: 1px solid #ccc;
    width: 100%;
}

input::placeholder {
    color: #888;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

p {
    font-size: 25px;
    color: red;
    margin-top: 20px;
    font-weight: bold;
}
